<#assign ctx=req.getContextPath()>
<#list treeList as right>
<#assign level=(level!0)+1>
	<#assign isUrl=(right.rightUrl=='#')?string('false','true')>
	<#assign hrefUrl=(right.rightUrl=='#')?string('javascript:;',req.getContextPath()+'/'+right.rightUrl)>
	<li class="site-menu-item ${(right.childNode?size gt 0)?string('has-sub','')} ">
		<a href="${hrefUrl}" ${(isUrl=='true')?string(' data-pjax target="_blank"','') }>
			<#if level==1>
				<i class="site-menu-icon ${right.icon}" aria-hidden="true"></i>
			</#if>
			<span class="site-menu-title">${right.rightName }</span>
			<#if right.childNode?size gt 0>
				<span class="site-menu-arrow"></span>
			</#if>
		</a>
		<#if right.childNode?size gt 0>
			<ul class="site-menu-sub">
				<#assign treeList=right.childNode>
				<#include "menu_r.html">
			</ul>
		</#if>
	</li>
	<#assign level=(level!0)-1>
</#list>