<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhx.gmms.modules.sys.user.dao.SysUserDao">
	<resultMap id="BaseResultMap" type="com.zhx.gmms.modules.sys.user.bean.SysUser">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="MAIL" property="mail" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="VARCHAR" />
		<result column="AGE" property="age" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="USE_STATUS" property="useStatus" jdbcType="VARCHAR" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
		<result column="LOGIN_TOTAL" property="loginTotal" jdbcType="VARCHAR" />
		<result column="IS_DEL" property="isDel" jdbcType="VARCHAR" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATOR" property="updator" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="THEME_ID" property="themeId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USER_CODE, USER_NAME, PASSWORD, NICK_NAME, PHONE, MAIL, SEX, AGE,
		TYPE, USE_STATUS,
		LAST_LOGIN_TIME, LOGIN_TOTAL, IS_DEL, CREATOR, CREATE_TIME, UPDATOR, UPDATE_TIME,
		THEME_ID
	</sql>
	
	<!-- 主键获取 -->
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<!-- 获取list -->
	<select id="findList" parameterType="com.zhx.gmms.modules.sys.user.bean.SysUser"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user where 1=1
		<if test="userCode !=null and  userCode !=''"> and user_code like
			concat('%',#{userCode,jdbcType=VARCHAR},'%')</if>
		<if test="userName !=null and  userName !=''"> and user_name like
			concat('%',#{userName,jdbcType=VARCHAR},'%')</if>
		<if test="nickName !=null and  nickName !=''"> and nick_name like
			concat('%',#{nickName,jdbcType=VARCHAR},'%')</if>
		<if test="phone !=null and  phone !=''"> and phone = #{phone}</if>
		<if test="useStatus !=null and  useStatus !=''"> and use_status = #{useStatus}</if>
		<if test="isDel !=null and  isDel !=''"> and is_del = #{isDel}</if>
		order by create_time desc 
	</select>

	<!-- 用户登录名称获取 -->
	<select id="selectByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user where 1=1 and user_code = #{userCode,jdbcType=VARCHAR}
	</select>

	<!-- 获取用户所属角色，并查出所有角色，标注用户所拥有的角色 -->
	<select id="findUserRoles" parameterType="java.lang.String" resultType="java.util.Map">
		select r.id,r.role_name text
		 <choose>
            <when test="_parameter!=null and _parameter!=''">
                ,group_concat((case ur.user_id when #{userId} then 'true' else '' end) separator '') permission 
            </when>
            <otherwise>
                ,'' permission
            </otherwise>
        </choose>
		from sys_role r LEFT JOIN sys_user_role ur on r.id = ur.role_id group by r.id,r.role_name
	</select>

	<!-- 查询用户角色关联的个数 -->
	<select id="findUserRoleCount" parameterType="java.lang.String" resultType="int">
		select count(1) from sys_user_role where user_id=#{id}
	</select>
	
	<!-- 主键删除 -->
	<delete id="delete" parameterType="java.util.List">
		delete from sys_user
		where ID in (
	    <foreach collection="list" item="id" index="index"
	        separator=",">
	        #{id}
	    </foreach>)
	</delete>

	<!-- 根据用户id删除用户和角色的关联关系 -->
	<delete id="deleteUserRole" parameterType="java.lang.String">
		delete from sys_user_role where user_id = #{id}
	</delete>

	<!-- 新增用户和角色的关联关系 -->
	<insert id="insertUserRoles" parameterType="java.util.Map">
		insert into sys_user_role(id,user_id,role_id) values
      <foreach collection="list" item="item" index="index"
          separator=",">
          (REPLACE(UUID(),"-",""),#{userId},#{item})
      </foreach>
	</insert>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.zhx.gmms.modules.sys.user.bean.SysUser">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userCode != null">
				USER_CODE,
			</if>
			<if test="userName != null">
				USER_NAME,
			</if>
			<if test="password != null">
				PASSWORD,
			</if>
			<if test="nickName != null">
				NICK_NAME,
			</if>
			<if test="phone != null">
				PHONE,
			</if>
			<if test="mail != null">
				MAIL,
			</if>
			<if test="sex != null">
				SEX,
			</if>
			<if test="age != null">
				AGE,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="useStatus != null">
				USE_STATUS,
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME,
			</if>
			<if test="loginTotal != null">
				LOGIN_TOTAL,
			</if>
			<if test="isDel != null">
				IS_DEL,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="updator != null">
				UPDATOR,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="themeId != null">
				THEME_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userCode != null">
				#{userCode,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="mail != null">
				#{mail,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="useStatus != null">
				#{useStatus,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="loginTotal != null">
				#{loginTotal,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updator != null">
				#{updator,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="themeId != null">
				#{themeId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 更新 -->
	<update id="update" parameterType="com.zhx.gmms.modules.sys.user.bean.SysUser">
		update sys_user
		<set>
			<if test="userCode != null">
				USER_CODE = #{userCode,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				USER_NAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				PASSWORD = #{password,jdbcType=VARCHAR},
			</if>
			<if test="nickName != null">
				NICK_NAME = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				PHONE = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="mail != null">
				MAIL = #{mail,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				SEX = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				AGE = #{age,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				TYPE = #{type,jdbcType=VARCHAR},
			</if>
			<if test="useStatus != null">
				USE_STATUS = #{useStatus,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="loginTotal != null">
				LOGIN_TOTAL = #{loginTotal,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				IS_DEL = #{isDel,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				CREATOR = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updator != null">
				UPDATOR = #{updator,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="themeId != null">
				THEME_ID = #{themeId,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 	<update id="updateUserQuota" parameterType="java.util.List"> -->
<!-- 		 <foreach collection="list" item="item" index="index" open="" close="" separator=";"> -->
<!-- 	        update sys_user -->
<!-- 	        <set> -->
<!-- 	            high_quota=${item.q} -->
<!-- 	        </set> -->
<!-- 	        where id = ${item.id} -->
<!-- 	    </foreach>    -->
<!-- 	</update> -->
</mapper>