<#include FP>
<@html>
<title>首页</title>
<#assign ctx=req.getContextPath()>
<div class="page animation-fade page-index">
    <div class="page-content">
		<div class="media account-info">
            <div class="media-left">
                <div class="avatar avatar-online">
                    <img src="${ctx}/admui/images/avatar.svg">
                    <i class="avatar avatar-busy"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                   	 欢迎您，${Session.user.userCode}
                    <small>${Session.user.userName!}</small>
                </h4>
                <p>
                    <i class="icon icon-color wb-bell" aria-hidden="true"></i> 
                                                  这是您第${(Session.user.loginTotal?eval+1)!}次登录，上次登录日期：${Session.user.lastLoginTime!}，详细信息请查看
                    <a data-pjax href="/account/log" target="_blank">日志</a>，如果不是您本人登录，请及时
                    <a data-pjax href="/account/password" target="_blank">修改密码</a> 。
                </p>
            </div>
            <div class="media-right">
                <a href="/system/account" data-pjax target="_blank" class="btn btn-outline btn-success btn-outline btn-sm">账户管理</a>
            </div>
        </div>
	</div>
</div>
</@html>